
{% extends "layout.html" %}

{% block layout %}

<!-- Contenido -->
<div class="container py-5">
	<h1 class="text-center">Bienvenido a Seat</h1>
	<p class="lead text-center">Descubre nuestras últimas novedades en automóviles y accesorios.</p>
	<div class="row">
		<div class="col-md-6">
			<img src="/static/CocheSeatInicio.png" alt="Imagen de un auto" class="img-fluid">
		</div>
		<div class="col-md-6">
			<h2>La nueva línea de autos deportivos</h2>
			<p>Conoce nuestros modelos más recientes de autos deportivos, diseñados con la más alta tecnología para ofrecerte una experiencia única de manejo. Desde el compacto pero poderoso Ibiza hasta el elegante y veloz León, encontrarás el auto deportivo que se adapte a tus necesidades.</p>
			<a href="#" class="btn btn-primary">Ver modelos</a>
		</div>
	</div>
</div>

{% endblock %}