
{% extends "layout.html" %}

{% block layout %}

<!-- Productos -->
<section id="productos" class="py-5">
    <div class="container">
        <h2 class="text-center mb-4">Productos de Seat</h2>
        <div class="row">
            <div class="col-md-6">
                <img src="/static/CocheSeatProducto1.png" class="img-fluid">
            </div>
            <div class="col-md-6">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Modelo</th>
                            <th>Precio</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Seat Ibiza</td>
                            <td>15,000€</td>
                        </tr>
                        <tr>
                            <td>Seat León</td>
                            <td>20,000€</td>
                        </tr>
                        <tr>
                            <td>Seat Arona</td>
                            <td>18,000€</td>
                        </tr>
                        <tr>
                            <td>Seat Ateca</td>
                            <td>25,000€</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Modelo</th>
                            <th>Precio</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Seat Tarraco</td>
                            <td>30,000€</td>
                        </tr>
                        <tr>
                            <td>Seat Alhambra</td>
                            <td>35,000€</td>
                        </tr>
                        <tr>
                            <td>Seat Mii Electric</td>
                            <td>22,000€</td>
                        </tr>
                        <tr>
                            <td>Seat Cupra</td>
                            <td>35,000€</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-6">
                <img src="/static/CocheSeatProducto2.png" class="img-fluid">
            </div>
        </div>
    </div>
</section>

{% endblock %}